// color
$color-primary-1: #e27d60;
$color-primary-2: #41b3a3;
$color-primary-3: #c38d9e;
$color-secondary-1: #85cdca;
$color-secondary-2: #e8a87c;
$color-dark: #505064;
$color-medium: #565b67;
$color-light: #b7c0c6;
