/* You can add global styles to this file, and also import other style files */

// variables
// color
$color-primary-1: #e27d60;
$color-primary-2: #41b3a3;
$color-primary-3: #c38d9e;
$color-secundary-1: #85cdca;
$color-secundary-2: #e8a87c;
$color-dark: #505064;
$color-medium: #565b67;
$color-light: #b7c0c6;
// font
$font-primary: 'Montserrat', Geneva, Tahoma, Verdana, sans-serif;

// global styles
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //10px/16px = 62.5% -> 1rem = 10px
}

body {
  font-family: $font-primary;
  color: $color-dark;
  font-weight: 300;
  line-height: 1.6;
}
